@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id ="main-content" class="container">
	<div id="cont_novedades">
	<h2 style="margin-left: 14px;line-height: 1.1em;margin-bottom: 34px;" class="font_2">Novedades</h2>
		<div class="row">
            <div class="col-md-4 margin-right margin-bottom-noticias" style="
						border: 1px solid #DED9D9;
						margin-right: 8px;
						">
                <h3>
                    <em style="
						margin-bottom:;">
                        <img src="http://fedun.com.ar/wordpress/wp-content/uploads/2016/02/CWkzwnC9-1024x591.jpg" alt="" width="140" height="" class="image-responsive" style="
						width: 100%;
						margin-bottom: 11px;
						">
                    </em><a href="novedad.html">paritaria local en la Universidad Nacional de Luján</a>
                </h3>
                <p>Ut vel nisl tristique justo ornare iaculis. Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
                <a href="#">Leer Mas</a>
            </div>
			
            <div class="col-md-4 margin-right margin-bottom-noticias" style="
						border: 1px solid #DED9D9;">
                <h3>
                    <em style="
						margin-bottom:;">
                        <img src="http://fedun.com.ar/wordpress/wp-content/uploads/2016/02/CWkzwnC9-1024x591.jpg" alt="" width="140" height="" class="image-responsive" style="
						width: 100%;
						margin-bottom: 11px;
						">
                    </em> <a href="Novedades/Novedad">paritaria local en la Universidad Nacional de Luján</a>
                </h3>
                <p>Ut vel nisl tristique justo ornare iaculis. Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
                <a href="#">Leer Mas</a>
            </div>
            <div class="col-md-4 margin-bottom-noticias" style="
						border: 1px solid #DED9D9;">
                <h3>
                    <em style="
						margin-bottom:;">
                        <img src="http://fedun.com.ar/wordpress/wp-content/uploads/2016/02/CWkzwnC9-1024x591.jpg" alt="" width="140" height="" class="image-responsive" style="
						width: 100%;
						margin-bottom: 11px;
						">
                    </em> <a href="Novedades/Novedad">paritaria local en la Universidad Nacional de Luján</a>
                </h3>
                <p>Ut vel nisl tristique justo ornare iaculis. Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
                <a href="#">Leer Mas</a>
            </div>
				</div>
				<div class="row">
					<div class="col-md-4 margin-right margin-top-noticias" style="
						border: 1px solid #DED9D9;"><h3><em style="
						margin-bottom:;"><img src="http://fedun.com.ar/wordpress/wp-content/uploads/2016/02/CWkzwnC9-1024x591.jpg" alt="" width="140" height="" class="image-responsive" style="
						width: 100%;
						margin-bottom: 11px;
						"></em> <a href="Novedades/Novedad">paritaria local en la Universidad Nacional de Luján</a></h3>
						<p>Ut vel nisl tristique justo ornare iaculis. Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
						  <a href="#">Leer Mas</a>
					</div>
                    <div class="col-md-4 margin-right margin-top-noticias" style="
							border: 1px solid #DED9D9;">
                        <h3>
                            <em style="
							margin-bottom:;">
                                <img src="http://fedun.com.ar/wordpress/wp-content/uploads/2016/02/CWkzwnC9-1024x591.jpg" alt="" width="140" height="" class="image-responsive" style="
							width: 100%;
							margin-bottom: 11px;
						">
                            </em><a href="Novedades/Novedad">paritaria local en la Universidad Nacional de Luján</a>
                        </h3>
                        <p>Ut vel nisl tristique justo ornare iaculis. Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
                        <a href="#">Leer Mas</a>
                    </div>
                    <div class="col-md-4 margin-top-noticias" style="
							border: 1px solid #DED9D9;">
                        <h3>
                            <em style="
							margin-bottom:;">
                                <img src="http://fedun.com.ar/wordpress/wp-content/uploads/2016/02/CWkzwnC9-1024x591.jpg" alt="" width="140" height="" class="image-responsive" style="
							width: 100%;
							margin-bottom: 11px;
						">
                            </em><a href="novedad.html">paritaria local en la Universidad Nacional de Luján</a>
                        </h3>
                        <p>Ut vel nisl tristique justo ornare iaculis. Suspendisse suscipit, orci ac interdum viverra, nulla orci facilisis mi, a ultrices mi lectus vitae felis. Morbi suscipit adipiscing orci et blandit. Morbi a nulla ut tellus blandit placerat a quis eros.</p>
                        <a href="#">Leer Mas</a>
                    </div>
				</div>
				</div>
	</div>