body{
    background-color: #F5F5F5;
	-webkit-font-smoothing: antialiased !important;
	padding-bottom: 0px !important;
	}

.logo{
	margin-top : 0px !important;
}

.logo > .container {
	padding-right: 0px !important;
    padding-left: 0px !important;
	width: 161px !important;
}

.carousel-control.right{
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%) !importatn;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%) !important;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5))) !important;
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgb(26, 170, 183) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1) !important;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%) !important;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%) !important;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0, 0,.0001))) !important;
    background-image: linear-gradient(to right,rgb(26, 170, 183) 0,rgba(0,0,0,.0001) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1) !important;
}

.jumbotron {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	height: 292px;
    overflow: hidden;
}
	
.jumbotron > img {
    width: 100%;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF !important;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position : relative !important;
}

.logo .container{
	box-shadow: 0px 0px 8px 3px #196A71;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#4F9FBF 0,#5399B5 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
}

.dropdown-menu{
	background: rgb(65, 153, 187);
}

.dropdown-menu>li>a{
	color:white;
}

#portfolio-wrapper{
	
	border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 52px;
}

#page{
	
	margin-top: 32px;
	margin-bottom: 60px;
}

.col-md-6{
	padding-bottom: 8px;
}

h2{
	color: #5399B5;
}

.box > img {
    width: 100%;
}
.col-izq{
    margin-right: 8px;
}

#page > .col-md-8 > .row > .col-md-6{
    border: 1px solid #DED9D9;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-transition: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    background-color: #FFFFFF;
}

/*FOOTER*/

nav#footer {
    background: #222222;
    color: #ffffff;
    padding: 20px 0 15px 0;
}

nav#footer .fnav {
    vertical-align: middle;
}

nav#footer .fnav {
    vertical-align: middle;
}

nav#footer p {
    font-size: 12px;
    margin-top: 10px;
}

ul.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

#footer i.fa {
    height: 30px;
    width: 30px;
    border: 2px solid #8c8c8c;
    font-size: 20px;
    padding: 4px 5px;
    border-radius: 50%;
    color: #8c8c8c;
    transition: all 0.5s;
}

#footer i.fa:hover {
    background: #FCAC45;
    border-color: #FCAC45;
    color: #ffffff;
}
/* FIN FOOTER*/

/*EFECTO IMAGEN HOVER*/
.cont{
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20px;
}

.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div-img.hidden {
  overflow: hidden;
}

.div-img .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.div-img:hover .img {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}

@media screen and (min-width: 992px){
	.col-md-6{
		width: 49% !important;
	} 
    
}