USE [master]
GO
/****** Object:  Database [Adut]    Script Date: 21/03/2016 0:30:06 ******/
CREATE DATABASE [Adut]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Adut', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.HLOVEY\MSSQL\DATA\Adut.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Adut_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.HLOVEY\MSSQL\DATA\Adut_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Adut].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Adut]
GO
/****** Object:  Schema [adut]    Script Date: 21/03/2016 0:30:06 ******/
CREATE SCHEMA [adut]
GO
/****** Object:  StoredProcedure [adut].[ListarImagenesNovedad]    Script Date: 21/03/2016 0:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [adut].[ListarImagenesNovedad] -- ORDER BY CustomerID
  @idNovedad INT
AS
BEGIN
  SET NOCOUNT ON;
 
  SELECT *
    FROM adut.imagenes img where img.id_origen=@idNovedad
END

GO
/****** Object:  StoredProcedure [adut].[ListarNovedadesPorPagina]    Script Date: 21/03/2016 0:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [adut].[ListarNovedadesPorPagina] -- ORDER BY CustomerID
  @PageNumber INT,
  @PageSize   INT
AS
BEGIN
  SET NOCOUNT ON;
 
  SELECT *
    FROM adut.Novedades nv
    ORDER BY fecha
    OFFSET @PageSize * (@PageNumber - 1) ROWS
    FETCH NEXT @PageSize ROWS ONLY OPTION (RECOMPILE);
END

GO
/****** Object:  Table [adut].[Beneficios]    Script Date: 21/03/2016 0:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [adut].[Beneficios](
	[id_beneficio] [int] NOT NULL,
	[resumen] [text] NOT NULL,
	[informacion] [text] NOT NULL,
	[nro_estrellas] [int] NULL,
	[fecha] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [adut].[imagenes]    Script Date: 21/03/2016 0:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [adut].[imagenes](
	[id_imagen] [int] NOT NULL,
	[id_origen] [int] NOT NULL,
	[path] [varchar](500) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [adut].[Novedades]    Script Date: 21/03/2016 0:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [adut].[Novedades](
	[id_novedad] [int] NOT NULL,
	[titulo] [text] NOT NULL,
	[resumen] [text] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[ubicacion] [varchar](100) NULL,
	[informacion] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
