@{
    ViewBag.Title = "quienes_somos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id ="main-content" class="container">
		<div class="row">
			<h2 style="margin-left: 14px;line-height: 1.1em;margin-bottom: 34px;" class="font_2">Quienes somos</h2>
			<div class="col-md-6">
				

			<p style="line-height: 1.3em;" class="font_8">Es un gremio nacional que nuclea a más de 150.000 trabajadores del Estado de la República Argentina. Nuestra asociación fue fundada el 25 de enero de 1925 y hoy cuenta con representación en todas las provincias del país.</p>

			<p style="line-height: 1.3em;" class="font_8"><br>
			<span style="line-height: 1.3em;">​</span>En la provincia de Santa Fe cuenta con más de 20.000 afiliados -activos y jubilados- y con seccionales y delegaciones en la totalidad de departamentos de la provincia, representadas a través de un cuerpo de aproximadamente 400 Delegados.&nbsp;</p>
			<p style="line-height: 1.3em;" class="font_8"><span style="line-height: 1.3em;">​</span></p>
			<p style="line-height: 1.3em;" class="font_8">ADUT Tiene un estatuto que posibilita una participativa y democrática intervención de sus afiliados, mediante órganos de gobierno tales como las Comisiones Directivas, Juntas Internas, Congresos de Delegados, Asambleas de Afiliados, instancias que demuestran una gestión política que integra en sus decisiones a todos sus miembros. (Ver Estatuto)</p>
			<p class="font_7">&nbsp;</p>
			<p style="line-height: 1.3em;" class="font_8">En el sector gremial provincial hemos dividido grandes áreas de acuerdo con los servicios, la modalidad laboral y la característica del funcionamiento del Estado. Además de la problemática laboral de sus trabajadores no nos es ajena la política que se desarrolla en cada una de ellas por parte del Estado y tenemos desde ATE una activa participación en la evaluación y propuestas respecto del funcionamiento de estas áreas. Así distinguimos:&nbsp;</p>
			</div>
			<div class="col-md-6">
				<img alt="" src="https://static.wixstatic.com/media/84770f_74d7f770136f822542ef58bbfd3b4283.jpg/v1/fill/w_389,h_494,al_c,q_80,usm_0.66_1.00_0.01/84770f_74d7f770136f822542ef58bbfd3b4283.jpg" style="width: 508px;height: 513px;" >
			</div>
		</div>
	</div>
